h1 {
    text-align: center;
    padding-bottom: 40px;
}

p{
    text-align: center;
    padding-bottom: 40px;
}


.flex-container{
    display: flex;
    flex-flow: row wrap;
}

.flex-item{
    width: 25%;
    padding: 20px;
}
